Repository Ghostmonday/V: changes, and which Codecov flags are due for each by the changed paths.
All: backend, ios

.codecov.yml:

# Codecov configuration file
# This file configures Codecov coverage reporting

codecov:
  require_ci_to_pass: yes
  token: # Set in GitHub Secrets as CODECOV_TOKEN

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
      backend:
        target: 80%
        flags:
          - backend
      ios:
        target: 70%
        flags:
          - ios
    
    patch:
      default:
        target: 70%
        threshold: 1%

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  ios:
    paths:
      - frontend/iOS/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: no

Deploy Railway config updates
  Dockerfile
Due: none

fix: Railway deployment configuration for monorepo
  .dockerignore
  Dockerfile
  RAILWAY_DEPLOYMENT_FIX.md
  RAILWAY_FIX_SUMMARY.md
  railway.json
  scripts/railway-quick-deploy.sh
  scripts/test-docker-build.sh
Due: none

fix: Remove nixpacks.toml to force Railway to use Dockerfile
  nixpacks.toml
Due: none

fix: Add Python and build tools to Dockerfile for lz4 native compilation
  Dockerfile
Due: none

fix: Create python symlink for node-gyp compatibility
  Dockerfile
Due: none

docs: Add Railway deployment checklist with required env vars
  RAILWAY_DEPLOYMENT_CHECKLIST.md
Due: none

feat: Add Railway environment setup script and guide
  RAILWAY_ENV_SETUP.md
  scripts/set-railway-env.sh
Due: none

fix: Update Railway CLI syntax to use --set flag
  SET_RAILWAY_VARS.sh
  scripts/set-railway-env.sh
Due: none

docs: Add Railway troubleshooting guide for health check failures
  RAILWAY_TROUBLESHOOTING.md
Due: none

docs: Add Railway variables quick reference - Environment vs Shared
  RAILWAY_VARIABLES_QUICK_REFERENCE.md
Due: none

feat: Add Railway Config-as-Code support
  RAILWAY_CONFIG_AS_CODE.md
  railway.toml
Due: none

fix: Update Railway config-as-code to match official docs
  RAILWAY_CONFIG_AS_CODE.md
  railway.json
  railway.toml
Due: none

docs: Clarify Redis URL vs Supabase URL and NODE_ENV settings
  RAILWAY_ENV_VARIABLES_CORRECT.md
Due: none

docs: Add Railway health check debugging guide
  RAILWAY_HEALTH_CHECK_DEBUG.md
Due: none

docs: Add health check table verification SQL and guide
  RAILWAY_HEALTH_CHECK_TABLE.md
  sql/verify-health-check-table.sql
Due: none

docs: Confirm users table structure and add test query
  RAILWAY_HEALTH_CHECK_CONFIRMED.md
  sql/test-health-check-query.sql
Due: none

docs: Add debugging guide for when variables are set but health check fails
  RAILWAY_DEBUG_VARS_SET.md
Due: none

fix: Add error handling and startup logging for Railway debugging
  src/config/database-config.ts
  src/http-websocket-server.ts
Due: backend

docs: Add Railway variables fix guide
  RAILWAY_VARIABLES_FIX.md
Due: none

docs: Fix Redis URL - localhost won't work in Railway
  RAILWAY_REDIS_FIX.md
Due: none

fix: Fail fast if REDIS_URL is localhost or missing in Railway
  src/config/database-config.ts
  src/config/redis-cluster.ts
Due: backend

feat: Add Railway CLI complete setup script
  RAILWAY_CLI_SETUP.md
  scripts/railway-setup-complete.sh
Due: none

docs: Add critical fix for REDIS_URL localhost issue
  RAILWAY_REDIS_CRITICAL_FIX.md
  RAILWAY_REDIS_URL_FIX.md
Due: none

feat: Add script to verify/fix REDIS_URL after adding Redis service
  scripts/fix-redis-url.sh
Due: none

feat: Add script to help set REDIS_URL and improve error messages
  scripts/set-redis-url.sh
  src/config/database-config.ts
Due: backend

docs: Document Redis usage and purpose in the application
  REDIS_PURPOSE.md
Due: none

feat: Add Redis JSON helper functions for ioredis
  REDIS_JSON_USAGE.md
  src/utils/redis-json-helper.ts
Due: backend

feat: Add Railway connection validation script
  scripts/validate-railway-connection.sh
Due: none

fix: rate-limit-redis configuration
  src/middleware/rate-limiting/express-rate-limit-middleware.ts
Due: backend

fix: RedisStore reuse error - create unique instances
  RAILWAY_GET_REDIS_URL.md
  scripts/railway-quick-setup.sh
  src/middleware/rate-limiting/express-rate-limit-middleware.ts
Due: backend

fix: allow localhost Redis for tests, fix TypeScript errors
  src/config/database-config.ts
  src/config/redis-cluster.ts
  vitest.config.ts
Due: backend

fix: TypeScript errors - Redis types, missing imports, AuthenticatedUser id property
  src/config/database-config.ts
  src/config/redis-cluster-config.ts
  src/config/redis-cluster.ts
  src/config/redis-failover-config.ts
  src/config/redis-failover.ts
  src/config/redis-pubsub-config.ts
  src/jobs/data-retention-cron-job.ts
  src/middleware/rate-limiting/express-rate-limit-middleware.ts
  src/routes/privacy-api-routes.ts
  src/routes/video/join-api-route.ts
  src/services/agora-service.ts
  src/services/encryption-service.ts
  src/services/livekit-service.ts
  src/services/message-controller-service.ts
  src/services/ux-telemetry-redaction.ts
  src/services/ux-telemetry-service.ts
  src/types/auth-types.ts
Due: backend

fix: remaining encryption algorithm reference
  src/routes/privacy-api-routes.ts
Due: backend

fix: syntax error in privacy routes import
  src/routes/privacy-api-routes.ts
Due: backend

Implement Global Access Mode (GAM) for iOS and Backend
  frontend/iOS/Managers/GlobalAccessManager.swift
  frontend/iOS/Managers/LiveKitRoomManager.swift
  frontend/iOS/Views/RoomListView.swift
  frontend/iOS/Views/Settings/PrivacySettingsView.swift
  scripts/gam_simulation.sh
  supabase/functions/join-room/index.ts
Due: ios

Update license to Proprietary
  LICENSE
  README.md
Due: none

Add GAM unit tests and share scheme
  frontend/iOS/Tests/GAMTests.swift
  frontend/iOS/VibeZ.xcodeproj/xcshareddata/xcschemes/VibeZ.xcscheme
  src/config/redis-cluster.ts
Due: backend, ios
