Repository Ghostmonday/V: changes, and which Codecov flags are due for each by the changed paths.
All: backend, ios

feat: Implement security and stability enhancements
  .github/workflows/healing-checks.yml
  AUDIT_UPDATE_SUMMARY.md
  CODEBASE_COMPLETE.md
  CODEBASE_INDEX.json
  CODEBASE_QUICKREF.md
  REPOSITORY_FINALIZATION_SUMMARY.md
  SECURITY_AUDIT.md
  TESTING_PLAN.md
  VIBES_VALIDATION_REPORT.md
  packages/core/src/utils.ts
  sql/migrations/2025-01-28-realtime-triggers.sql
  src/config/redis-pubsub.ts
  src/jobs/data-retention-cron.ts
  src/middleware/cache.ts
  src/middleware/rateLimit.ts
  src/services/DatabaseService.ts
  src/services/cache-service.ts
  src/services/e2e-encryption.ts
  src/services/message-service.ts
  src/services/user-authentication-service.ts
  src/tests/anonymization.test.ts
  src/tests/auth-encryption.test.ts
  src/tests/e2e-encryption.test.ts
  src/ws/handlers/messaging.ts
Due: backend

Add Phase 1-3 validation suite
  VALIDATION_CHECKLIST.md
  VALIDATION_SUMMARY.md
  scripts/README-VALIDATION.md
  scripts/validate-phases-1-3.ts
  sql/validate-phases-1-3.sql
Due: none

chore: add .gitignore and exclude .env from tracking
  .env
  .gitignore
Due: none

feat: Add privacy enhancements - ZKPs, hardware-accelerated encryption, and PFS
  README.md
  docs/PRIVACY_ENHANCEMENTS.md
  docs/PRIVACY_IMPLEMENTATION_SUMMARY.md
  docs/PRIVACY_VALIDATION_REPORT.md
  scripts/validate-privacy.ts
  sql/migrations/2025-01-XX-privacy-zkp-commitments.sql
  src/jobs/data-retention-cron.ts
  src/routes/privacy-routes.ts
  src/routes/voice-routes.ts
  src/server/index.ts
  src/services/agora-service.ts
  src/services/encryption-service.ts
  src/services/hardware-accelerated-encryption.ts
  src/services/livekit-token-service.ts
  src/services/pfs-media-service.ts
  src/services/zkp-service.ts
Due: backend

polish: Privacy features improvements - bulletproof implementation
  docs/PRIVACY_POLISH_SUMMARY.md
  sql/migrations/2025-01-XX-zkp-indexes-optimization.sql
  src/config/encryption-config.ts
  src/routes/privacy-routes.ts
  src/services/hardware-accelerated-encryption.ts
  src/services/pfs-media-service.ts
  src/services/zkp-service.ts
  src/utils/circuit-breaker.ts
  src/utils/input-sanitizer.ts
Due: backend

refine: Final privacy features refinements - batched verification, error handling, security audit
  docs/PRIVACY_FINAL_REFINEMENTS.md
  scripts/security-audit-privacy.ts
  src/routes/privacy-routes.ts
  src/services/hardware-accelerated-encryption.ts
  src/services/zkp-service.ts
  src/utils/input-sanitizer.ts
Due: backend

fix: Security audit script - fix false positive for key derivation logging
  scripts/security-audit-privacy.ts
Due: none

fix: Security audit script - improve pattern matching to reduce false positives
  scripts/security-audit-privacy.ts
Due: none

docs: Add complete privacy features summary
  docs/PRIVACY_COMPLETE.md
Due: none

style: Format privacy-related files with Prettier
  src/config/encryption-config.ts
  src/routes/privacy-routes.ts
  src/services/hardware-accelerated-encryption.ts
  src/services/pfs-media-service.ts
  src/services/zkp-service.ts
  src/utils/circuit-breaker.ts
  src/utils/input-sanitizer.ts
Due: backend

Remove NFT-related code: trading, blockchain storage, and tradeable references
  README.md
  express.d.ts
  node.d.ts
  src/config/vibes.config.ts
  src/routes/user-data-routes.ts
  src/services/vibes/card-generator.ts
  src/services/vibes/constants.ts
  src/services/vibes/ownership-service.ts
  src/types/vibes.types.ts
  third-party.d.ts
  vitest.d.ts
Due: backend

Remove 'traded' from SQL schema constraints
  sql/migrations/2025-11-15-vibes-core-schema.sql
Due: none

Update README: Focus on real-time sentiment chat and conversation intelligence
  README.md
Due: none

Fix UI-State Tests workflow: Rewrite for Swift/iOS frontend
  .github/workflows/ui-state-tests.yml
  docs/validation/UI_STATE_TESTS_MIGRATION.md
  docs/validation/WORKFLOW_ISSUES_ANALYSIS.md
  frontend/iOS/Tests/UIStateTests.swift
Due: ios

Cleanup: Remove references to deleted code and non-existent files
  docs/validation/DEAD_CODE_CLEANUP_REPORT.md
  docs/validation/WORKFLOW_ISSUES_ANALYSIS.md
Due: none

Remove all OpenAI API key references
  .github/workflows/healing-checks.yml
  README.md
  docker-compose.yml
  env.template
  packages/core/src/config/index.ts
  server/index.ts
  sql/migrations/2025-01-27-api-keys-vault.sql
  sql/migrations/2025-01-27-complete-setup.sql
  sql/migrations/2025-01-27-populate-api-keys.sql
  sql/migrations/2025-01-27-populate-only.sql
  src/config/vibes.config.ts
  src/services/api-keys-service.ts
  src/services/data-deletion-service.ts
  src/services/search-service.ts
  src/shared/logger.ts
  src/tests/integration/websocket.test.ts
  tsconfig.json
Due: backend

feat(ios): Implement LiveKit, Vibe, and File services for MVP readiness
  frontend/iOS/Managers/LiveKitRoomManager.swift
  frontend/iOS/Package.swift
  frontend/iOS/Services/FileService.swift
  frontend/iOS/Services/VibeService.swift
  frontend/iOS/Views/ChatInputView.swift
  frontend/iOS/Views/ChatView.swift
  frontend/iOS/Views/VoiceVideoPanelView.swift
Due: ios

fix: resolve zod import issues and test file paths
  package-lock.json
  package.json
  src/middleware/security/brute-force-protection-middleware.ts
  src/middleware/validation/incremental-validation-middleware.ts
  src/middleware/validation/password-strength-middleware.ts
  src/routes/ux-telemetry-api-routes.ts
  src/services/message-archival-service.ts
  src/services/message-delivery-service.ts
  src/services/message-service.ts
  src/services/user-authentication-service.ts
  src/tests/integration/websocket-reconnection.test.ts
  src/tests/integration/websocket.test.ts
  src/utils/input-sanitizer-utils.ts
  src/utils/prompt-sanitizer-utils.ts
  src/ws/handlers/websocket-delivery-ack-handler.ts
  src/ws/handlers/websocket-messaging-handler.ts
Due: backend

ci: add stability checks, load testing, and auto-conflict resolution workflows
  .github/workflows/auto-merge-conflicts.yml
  .github/workflows/load-test.yml
  .github/workflows/stability-check.yml
Due: none

docs: add comprehensive stability report
  STABILITY_REPORT.md
Due: none

docs: add branch cleanup report with safety analysis
  BRANCH_CLEANUP_REPORT.md
Due: none

fix(ios): resolve MainActor isolation error in Message model
  frontend/iOS/Models/Message.swift
Due: ios

fix: resolve typecheck errors in ai-mod and supabase packages + add missing type definitions
  package-lock.json
  package.json
  packages/ai-mod/src/index.ts
  packages/ai-mod/tsconfig.json
  packages/supabase/src/index.ts
  packages/supabase/tsconfig.json
Due: none

fix: correct import paths from auth.types.js to auth-types.js across routes and middleware
  src/middleware/auth/admin-auth-middleware.ts
  src/middleware/auth/supabase-auth-middleware.ts
  src/middleware/rate-limiting/express-rate-limit-middleware.ts
  src/middleware/rate-limiting/rate-limiter-middleware.ts
  src/middleware/security/moderation-middleware.ts
  src/middleware/subscription-gate-middleware.ts
  src/middleware/validation/age-verification-middleware.ts
  src/routes/admin-api-routes.ts
  src/routes/admin-moderation-api-routes.ts
  src/routes/agora-api-routes.ts
  src/routes/bandwidth-api-routes.ts
  src/routes/chat-room-config-api-routes.ts
  src/routes/entitlements-api-routes.ts
  src/routes/moderation-api-routes.ts
  src/routes/nicknames-api-routes.ts
  src/routes/notify-api-routes.ts
  src/routes/privacy-api-routes.ts
  src/routes/reactions-api-routes.ts
  src/routes/read-receipts-api-routes.ts
  src/routes/room-api-routes.ts
  src/routes/search-api-routes.ts
  src/routes/threads-api-routes.ts
  src/routes/user-data-api-routes.ts
  src/routes/ux-telemetry-api-routes.ts
  src/routes/voice-api-routes.ts
  src/services/entitlements.ts
Due: backend

chore: add iOS stress test and bot scripts, update documentation and configs
  PRODUCTION_READY.md
  docs/ARCHIVE_INSTRUCTIONS.md
  docs/CLEANUP_SUMMARY.md
  docs/GRADE_AUDIT.md
  docs/GRADE_AUDIT_2.md
  frontend/iOS/Package.swift
  frontend/iOS/StressTest/StressTestHarness.swift
  frontend/iOS/VibeZApp.swift
  packages/core/tsconfig.json
  scripts/bots.ts
  scripts/run-ios-stress-test.sh
  sql/SECURITY_FIX_STEP_BY_STEP.md
  sql/VERIFY_RLS_STATUS.sql
Due: ios

chore: pin versions — no drift
  package-lock.json
Due: none

Remove redundant root locustfile.py
  locustfile.py
Due: none

Fix: Remove AT TIME ZONE 'UTC' from GENERATED columns to fix immutability error
  sql/FRESH_START.sql
Due: none

Fix: Replace current_setting() DEFAULT with static 'local' value in audit_log.node_id
  sql/COMPLETE_SETUP.sql
  sql/FRESH_START.sql
Due: none

Fix: Remove gen_random_bytes() DEFAULT from bots.token column (not immutable)
  sql/COMPLETE_SETUP.sql
  sql/FRESH_START.sql
Due: none

Path conditions:
  backend: any of: src/
  ios: any of: frontend/iOS/
