Repository Ghostmonday/V: changes, and which Codecov flags are due for each by the changed paths.
All: backend, ios

.codecov.yml:

# Codecov configuration file
# This file configures Codecov coverage reporting

codecov:
  require_ci_to_pass: yes
  token: # Set in GitHub Secrets as CODECOV_TOKEN

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
      backend:
        target: 80%
        flags:
          - backend
      ios:
        target: 70%
        flags:
          - ios
    
    patch:
      default:
        target: 70%
        threshold: 1%

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  ios:
    paths:
      - frontend/iOS/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: no

Fix: Replace to_char() with substring(cast()) for partition_month GENERATED columns
  sql/COMPLETE_SETUP.sql
  sql/FRESH_START.sql
Due: none

Fix: Replace GENERATED partition_month columns with trigger-based approach
  sql/COMPLETE_SETUP.sql
  sql/FRESH_START.sql
Due: none

Fix: Include partition_month in logs_compressed PRIMARY KEY
  sql/COMPLETE_SETUP.sql
  sql/FRESH_START.sql
Due: none

Fix: Replace uuid_generate_v4() with gen_random_uuid()
  sql/COMPLETE_SETUP.sql
  sql/FRESH_START.sql
Due: none

Fix: Add missing retention policy functions to FRESH_START.sql
  sql/FRESH_START.sql
Due: none

Fix: Ensure idempotency of partition_month triggers in FRESH_START.sql
  sql/FRESH_START.sql
Due: none

Refactor: Split FRESH_START.sql into 9 modular files
  sql/fresh_start_split/01_config_extensions.sql
  sql/fresh_start_split/02_core_tables.sql
  sql/fresh_start_split/03_auth_security_tables.sql
  sql/fresh_start_split/04_feature_tables.sql
  sql/fresh_start_split/05_service_tables.sql
  sql/fresh_start_split/06_indexes.sql
  sql/fresh_start_split/07_functions.sql
  sql/fresh_start_split/08_triggers.sql
  sql/fresh_start_split/09_rls_policies.sql
Due: none

Fix: Add search_path and pgcrypto extension check to 07_functions.sql
  sql/fresh_start_split/07_functions.sql
Due: none

Fix: Add missing RLS policies to FRESH_START.sql
  sql/FRESH_START.sql
Due: none

Fix: Resolve 'function digest does not exist' error in FRESH_START.sql and 07_functions.sql
  sql/FRESH_START.sql
  sql/fresh_start_split/07_functions.sql
Due: none

Fix: Add search_path to ENABLE_MISSING_RLS.sql
  sql/ENABLE_MISSING_RLS.sql
Due: none

Fix: Re-add search_path to ENABLE_MISSING_RLS.sql
  sql/ENABLE_MISSING_RLS.sql
Due: none

Feat: Add RLS policies and seed data scripts
  sql/ADD_FEATURE_RLS_POLICIES.sql
  sql/SEED_DATA.sql
Due: none

Feat: Update bots script to simulate seeded users
  scripts/bots.ts
Due: none

Refactor: Clean up bots.ts
  scripts/bots.ts
Due: none

Test fixes: Improved mock setup and sentiment scoring
  src/services/__tests__/refresh-token-service.test.ts
  src/services/__tests__/sentiment-analysis-service.test.ts
Due: backend

Fix: All refresh token and sentiment tests now passing
  src/services/__tests__/refresh-token-service.test.ts
  src/services/__tests__/sentiment-analysis-service.test.ts
Due: backend

Fix: Rate limiter, message service, and sentiment tests
  src/middleware/__tests__/rate-limiter.test.ts
  src/services/__tests__/message-service.test.ts
  src/tests/__helpers__/test-setup.ts
Due: backend

feat: Add privacy-first telemetry opt-out flow
  src/components/TelemetryExample.tsx
  src/components/TelemetryOptOutFlow.css
  src/components/TelemetryOptOutFlow.tsx
Due: backend

feat: Add telemetry opt-out flow + partial test fixes
  scripts/validate-phase5.ts
  src/components/TELEMETRY_README.md
Due: backend

fix: Resolve TypeScript lint errors in validation scripts
  scripts/validate-phase5.ts
  scripts/validate-phases-1-3.ts
Due: none

docs: Add relocation guide for React components
  src/components/MOVE_TO_FRONTEND.md
Due: backend

docs: Refresh repository README with polished overview and keep all recent changes
  COPY_EDITING_SUMMARY.md
  README.md
  USER_FACING_STRINGS.md
  USER_FACING_STRINGS_AUTO.md
  extract_strings.py
Due: none

Security fixes: CORS, HTTPS enforcement, and database RLS
  AUDIT_REPORT.md
  SECURITY_FIXES_APPLIED.md
  env.production.example
  env.template
  package.json
  src/http-websocket-server.ts
Due: backend

Fix failing tests: E2E encryption, message service, rate limiter, and redis cluster
  src/config/redis-cluster.ts
  src/middleware/__tests__/rate-limiter.test.ts
  src/services/__tests__/message-service.test.ts
  src/tests/e2e-encryption.test.ts
  src/tests/integration/redis-cluster.test.ts
Due: backend

Rewrite all user-facing strings to plain, one-breath English
  USER_FACING_STRINGS_REWRITE.md
  frontend/iOS/Views/Onboarding/PrivacyOnboardingView.swift
  frontend/iOS/Views/OnboardingV2.swift
  frontend/iOS/Views/ProfileView.swift
  frontend/iOS/Views/RoomListView.swift
  frontend/iOS/Views/Settings/PrivacySettingsView.swift
  frontend/iOS/Views/Settings/SelfHostSettingsView.swift
  src/middleware/auth/admin-auth-middleware.ts
  src/middleware/auth/supabase-auth-middleware.ts
  src/middleware/error-middleware.ts
  src/middleware/rate-limiting/express-rate-limit-middleware.ts
  src/middleware/security/file-upload-security-middleware.ts
  src/middleware/security/moderation-middleware.ts
  src/middleware/validation/password-strength-middleware.ts
  src/routes/auth-api-routes.ts
  src/routes/room-api-routes.ts
  src/services/message-service.ts
Due: backend, ios

Rewrite README.md to investor-grade standard
  README.md
Due: none

Add skipped tests analysis document
  SKIPPED_TESTS_ANALYSIS.md
Due: none

Update tests and validation: fix rate limiter, message service, e2e encryption tests, and add validation report
  SKIPPED_TESTS_ANALYSIS.md
  VALIDATION_REPORT.md
  package.json
  src/http-websocket-server.ts
  src/middleware/__tests__/rate-limiter.test.ts
  src/services/__tests__/message-service.test.ts
  src/services/__tests__/user-authentication-service.test.ts
  src/services/e2e-encryption.ts
  src/tests/__helpers__/test-setup.ts
  src/tests/e2e-encryption.test.ts
  src/tests/integration/redis-cluster.test.ts
Due: backend

fix: validation suite and lint errors for launch readiness
  packages/core/src/utils.js
  packages/core/src/utils.ts
  scripts/run-validation-docker.sh
  scripts/setup-validation-db.sh
  scripts/validate-phases-1-3.ts
  sql/FRESH_START.sql
  validation-results-phases-1-3.json
Due: none

fix: finalize Supabase setup with RLS, auth triggers, and pgvector support
  docker-compose.validation.yml
  sql/FRESH_START.sql
Due: none

chore: optimize Dockerfile for Railway deployment
  .dockerignore
  Dockerfile
  package.json
  railway.json
Due: none

Add security middleware: helmet + express-rate-limit (15s/100 max)
  Dockerfile
  package-lock.json
  package.json
  sql/FRESH_START.sql
  src/http-websocket-server.ts
  src/middleware/rate-limiting/express-rate-limit-middleware.ts
Due: backend

fix: cleanup GitHub Actions CI - remove iOS/macOS workflows, fix paths
  .github/workflows/app-ci.yml
  .github/workflows/auto-merge-conflicts.yml
  .github/workflows/ci.yml
  .github/workflows/healing-checks.yml
  .github/workflows/pr-bug-scan.yml
  .github/workflows/pr-code-scan.yml
  .github/workflows/pr-comprehensive-scan.yml
  .github/workflows/ui-state-tests.yml
Due: none

fix: add Response types to search-api-routes handlers for Railway build
  20251121-[Ghostmonday_V] Run failed_ App CI - chat-scaling -10417.eml
  20251121-[Ghostmonday_V] Run failed_ App CI - dev (56b15b2)-10423.eml
  20251121-[Ghostmonday_V] Run failed_ App CI - main (1052271-10430.eml
  20251121-[Ghostmonday_V] Run failed_ CI - main (1052271)-10427.zip
  20251121-[Ghostmonday_V] Run failed_ Healing Checks - main -10425.eml
  20251121-[Ghostmonday_V] Run failed_ PR Code Scan & Analysi-10426.eml
  20251121-[Ghostmonday_V] Run failed_ Stability Check - dev -10420.eml
  20251121-[Ghostmonday_V] Run failed_ UI State Tests & Telem-10429.eml
  package-lock.json
  package.json
  packages/core/src/utils.js
  src/routes/search-api-routes.ts
Due: backend

feat: add Railway auto-configuration files
  .railway/setup.md
  20251121-[Ghostmonday_V] Run failed_ App CI - chat-scaling -10417.eml
  20251121-[Ghostmonday_V] Run failed_ App CI - dev (56b15b2)-10423.eml
  20251121-[Ghostmonday_V] Run failed_ App CI - main (1052271-10430.eml
  20251121-[Ghostmonday_V] Run failed_ CI - main (1052271)-10427.zip
  20251121-[Ghostmonday_V] Run failed_ Healing Checks - main -10425.eml
  20251121-[Ghostmonday_V] Run failed_ PR Code Scan & Analysi-10426.eml
  20251121-[Ghostmonday_V] Run failed_ Stability Check - dev -10420.eml
  20251121-[Ghostmonday_V] Run failed_ UI State Tests & Telem-10429.eml
  nixpacks.toml
  railway.json
  scripts/railway-setup.sh
Due: none

fix: remove compiled utils.js and add .gitignore to packages/core
  packages/core/.gitignore
  packages/core/src/utils.js
Due: none

fix: correct GitHub Actions secret name and railway.json schema
  .github/workflows/healing-checks.yml
  railway.json
Due: none
